* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

header {
  background: url("../images/desktop/image-header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
}

header .content {
  margin: 0 auto;
  position: relative;
  top: 2.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .content nav ul {
  font-size: 20px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .content nav ul a {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: white;
  margin: 0 5px;
  padding: 3px 5px;
}

header .content nav ul a:hover {
  border-radius: 15px;
  background-color: #0883c0;
}

.arrow {
  text-align: center;
  margin-top: 2em;
  font-size: 45px;
}

.arrow h1 {
  margin-bottom: 1em;
  color: white;
}

#services {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

#services h1 {
  color: #4a4b5e;
}

#services .class {
  background-size: cover;
  height: 450px;
}

#services div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#services div h1 {
  text-align: center;
  font-size: 46px;
}

#services div p {
  padding: 45px;
  color: #787887;
  font-size: 19px;
}

#services div a {
  padding: 45px;
  text-decoration: underline;
}

#services .class h1,
#services .class p {
  color: black;
}

#services .class h1 {
  margin-top: 7em;
}

#class-1 {
  background-image: url("../images/desktop/image-transform.jpg");
}

#class-3 {
  background-image: url("../images/desktop/image-stand-out.jpg");
}

#class-4 {
  background-image: url("../images/desktop/image-photography.jpg");
}

#class-5 {
  background-image: url("../images/desktop/image-graphic-design.jpg");
}

#client h1 {
  text-align: center;
  font-size: 45px;
  padding: 16px;
  color: #4a4b5e;
}

#client .test {
  padding: 50px;
}

#client .test p {
  text-align: center;
  color: #787887;
}

#client .test img {
  border-radius: 100px;
  text-align: center;
  display: block;
  margin: auto;
  padding: 15px;
}

#client .opinion {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.space {
  margin-bottom: 15px;
  margin-top: 5px;
}

strong {
  color: black;
}

#images {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

#images div {
  height: 60vh;
  z-index: 400;
}

.img-1 {
  background-image: url("../images/desktop/image-gallery-cone.jpg");
  background-size: cover;
}

.img-2 {
  background-image: url("../images/desktop/image-gallery-milkbottles.jpg");
  background-size: cover;
}

.img-3 {
  background-image: url("../images/desktop/image-gallery-orange.jpg");
  background-size: cover;
}

.img-4 {
  background-image: url("../images/desktop/image-gallery-sugarcubes.jpg");
  background-size: cover;
}

footer {
  height: 30vh;
  background-color: #4fbfa7;
}

footer h1 {
  color: #4a4b5e;
  text-align: center;
  font-size: 50px;
}

footer p {
  text-align: center;
  color: #787887;
  font-size: 25px;
}
/*# sourceMappingURL=style.css.map */